html{
   margin: 0;
   padding: 0;
   background-color: #16161a;
  scroll-behavior: smooth ;
font-family: Arial, Helvetica, sans-serif;
letter-spacing: 1.5px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
  }


  
  .links a {
    color: #fffffe;
    text-decoration: none;
    margin-right: 2rem;
    
  }

  
  
  .sideMenu {
    display: none;
    visibility: hidden;
  }
  
  .menu.active {
    right: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    background-color: #242629;
    z-index: 1000;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu .links a {
    color: #fffffe;
    margin-bottom: 2rem;
    margin-top: 30px;
  }
  .menu .links :hover {
    color: #0BC9CD;
    transition: 0.5s;
    opacity: 0.7;
  }

  
  .sideMenu img {
    position: relative;
    z-index: 9999;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

.container-section-intro{ 
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    padding-bottom: 4%;
}

.cont-btn{
  flex-direction: row;
  display: flex;
  
}
.btn-github {
  color: #090909;
  padding: 1em 1.8em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #0BC9CD;
  margin-right: 20px;
  text-decoration: none;

 }
 
 .github{
  padding-left: 10px;
 }
 

 


.titulo-principal{

  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: 35px;
}
.corjoao{
  color: #0BC9CD;
  font-size: 50px;
}

.container-titulo{
  display: flex;
  flex-direction: column;
  color: #fff3ec;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 35px;
  
  
}
.titulo-principal2{

  font-family:'Courier New', Courier, monospace;
  color: #fff;
  font-size: 35px;
  display: none;
}

.bonecoImg{
    width: 900px;
    margin-left: 10%;
}

.bonecoImg{
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}

.container-scroll{
    justify-content: center;
    display: flex;
    
  }
  

  /*COMEÇO SCROLL*/
  
 

.container-exp{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.imgExp{
    width: 700px;
    margin-right: 10%;
  
}


.txtExp{
    width: 500px;
    margin-left: 10%;
    color: #fff3ec; 
    font-size: 20px;
}

.title{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-top: 5%;
    color: #fffffe;
}

h2{
  color: #fffffe;
}

.container-projetos{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center
}


.cards-projetos{
  background-color: 	#242629;
  width: 600px;
  height: 550px;
  border-radius: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;



}

.img-barbearia{
width: 95%;
border-radius: 2%;
margin-bottom: 8%;

}



.txtProjeto{
  width: 500px;
  color: #94a1b2;
  font-size: 12px;
  text-align: left ;
  margin-bottom: 2%;
}







/* BOTÃO REPOSITORIO */
/* From uiverse.io by @WhiteNervosa */
/* From uiverse.io */
.noselect{
  text-decoration: none;
}

button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #16161a;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);

  text-decoration: none;
  overflow: hidden;

 }
 
 button, button span {
  transition: 200ms;
  text-decoration: none;
  overflow: hidden;
 }
 
 button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
  text-decoration: none;
  overflow: hidden; 
 }
 







/* COMEÇO form contato */

/* From uiverse.io by @G4b413l */
.group {
  position: relative;
  border: solid, 2px,  #0BC9CD;
  
 }
 
 .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  color: white;
 
 }
 
 .input:focus {
  outline: none;
 }
 
 label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #0BC9CD;
 }
 
 .bar {
  position: relative;
  display: block;
  width: 215px;
 }
 
 .bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #0BC9CD;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
 }
 
 .bar:before {
  left: 50%;
 }
 
 .bar:after {
  right: 50%;
 }
 
 .input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;

 }
 
 .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
 }
 
 .input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
 }
 
 @keyframes inputHighlighter {
  from {
   background: #0BC9CD;
  }
 
  to {
   width: 0;
   background: transparent;
  }
 }




@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}


footer{
  justify-content: center;
  display: flex;
}

  .pd-form{
  padding-bottom: 20%;
  }
  

  .field{
    width: 180px;
    height: 100px;
    border: 2px solid rgba(255, 255, 255, 0);
    border: 2px solid #0BC9CD;
    outline: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 15%;
  
  }


  /* From uiverse.io */
.alinhar-btn {
  justify-content: center;
  display: flex;
  align-items: center;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #0BC9CD;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  color: #fff3ec; 
  z-index: 1;
 }
 
 .button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0BC9CD;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
 }
 
 .button:hover {
  color: #ffffff;
  border: 1px solid #0BC9CD;
 }
 
 .button:hover:before {
  top: -35%;
  background-color: #0BC9CD;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }
 
 .button:hover:after {
  top: -45%;
  background-color: #0BC9CD;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
 }  


  
  
/* FIM form contato */

.credits{
  display: flex;
  justify-content: center;
  padding-top: 5%;
  font-size: 14px;
  color: #fff3ec;
}




.timeline-section{

	padding: 50px 15px;
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #fffffe;
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #0BC9CD;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: #0BC9CD;
	margin:6px 0 15px;
}
.timeline-content{
    background-color: #242629;
	  padding: 30px;
	  border-radius: 5px;
}
.timeline-content h3{
    font-size: 20px;
	color: #fffffe;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #94a1b2;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.wrapper{
  display: flex;
  word-wrap: break-word;
}
.wrapper .static-txt{
  color: #fff;
  font-size: 40px;
  align-items: center;
  display: flex;
  font-family:'Courier New', Courier, monospace;



}
.wrapper .dynamic-txts{
  margin-left: 0px;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
  font-family:'Courier New', Courier, monospace;
}
.dynamic-txts li{
  list-style: none;
  color: #0BC9CD;
  font-size: 40px;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
@keyframes slide {
  100%{
    top: -100px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 50px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #16161a;
  border-left: 2px solid #0BC9CD;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 10px);
  }
  100%{
    left: 0;
  }
}



@media screen and (max-width: 980px){

  
   
 
       nav {
          display: flex;
          justify-content: right;
          padding: 1rem 2rem;

         }
         
    .sideMenu {
        display: initial;
        visibility: visible;
        z-index: 1001;
        position: fixed;
        
      }
    
      .links {
        margin: 2rem 0;
      }
    
      .links a {
        margin-right: 0;
      }
    
      .menu {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -1000px;
        height: 100vh;
        background-color: #242629;
        width: 15rem;
        padding: 2rem;
        transition: all 2s;
        z-index: 1;
      }
    
      .menu .links,
      .menu .buttons {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    
      .container {
        margin: 0;
      }
    

    .container-section-intro{ 
        display: flex;
        flex-direction: column;
        padding-top: 15%;

        
    }

    .txtIntro{
        margin-right: 0;
        width: 300px;
        font-size: 17px;
    }

    .titulo-principal{

      font-family:'Courier New', Courier, monospace;
      color: #fff;
      font-size: 35px;
      visibility: hidden;
      display: none;
    }
    .titulo-principal2{

      font-family:'Courier New', Courier, monospace;
      color: #fff;
      font-size: 35px;
      display: block;
      visibility: visible;
      
    }
    .corjoao{
      color: #0BC9CD;
      font-size: 40px;
      word-break: break-word;
      
    }
    
    .bonecoImg{
        margin-left: 0;
        width: 300px;
        margin-top: 20%;

    }


    .container-exp{
        flex-direction: column;
        display: flex;
        padding-top: 10%;
        
    }
    
    .imgExp{
        width: 300px;
        margin-right: 0%;
        
    }
    
    .txtExp{
        width: 300px;
        margin-left: 0%; 
        margin-top: 5%;
    }
    

      .container-projetos{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;

      }
      

      
      .cards-projetos{
        background-color: #242629;
        width: 350px;
        height: 450px;
        border-radius: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 25%;
        display: flex;
        margin: 0;
        padding: 0;
        margin-top: 25%;

      
      
      }
      
      .img-barbearia{
      width: 95%;
      border-radius: 2%;
      margin-bottom: 6%;
      
      }

      .txtProjeto{
        width: 300px;
        color: #fff3ec;
        font-size: 15px;

      }
      

      footer{
        display: flex;
        justify-content: center;
        margin-top: 5%;    
        align-items: center;
       
      }


      /* responsive */
@media(max-width: 767px){

 
	.timeline-items::before{
		left: 7px;
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left:0;
	}
}

.wrapper{
  display: flex;
  word-wrap: break-word;

}
.wrapper .static-txt{
  color: #fff;
  font-size: 30px;
  align-items: center;
  display: flex;
  font-family:'Courier New', Courier, monospace;



}
.wrapper .dynamic-txts{
  margin-left: 0px;
  height: 30px;
  line-height: 30px;
  /* overflow: hidden; */
  font-family:'Courier New', Courier, monospace;
}
.dynamic-txts li{
  list-style: none;
  color: #0BC9CD;
  font-size: 19px;
  position: relative;
  top: 0;
  animation: slide 6s steps(2) infinite;
}
@keyframes slide {
  100%{
    top: -60px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 30px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #16161a;
  border-left: 2px solid #0BC9CD;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 10px);
  }
  100%{
    left: 0;
  }
}

}
